# **SQL Extension for OLAP**

1) Rank Function

In [ ]:
use Ocean_Blue_Sentries
select FirstName, customerid, rank() over(order by CustomerID Desc) as n_rank
from Customers

In [ ]:
use Ocean_Blue_Sentries
select Top 5 FirstName, rank() over(order by CustomerID Desc) as n_rank
from Customers

2) N-Tile Function

In [ ]:
use Ocean_Blue_Sentries
SELECT FirstName, LastName, NTILE(2) OVER (ORDER BY CustomerID) AS quartile
FROM customers;

3) Roll-Up Function

In [ ]:
use Ocean_Blue_Sentries
select saleid, customerid, sum(TotalAmount)
from dbo.sales
group by rollup(saleid, customerid)

In [ ]:
use master
select genre, platform, publisher, sum(NA_Sales) as Total_NA_Sales
from dbo.vgsales
group by rollup(genre, platform, publisher)

In [ ]:
use checkpoint_database
select year, quarter, namemonth, count(iddate) as total_orders
from Date
group by rollup(year, quarter, namemonth)

4. Cube Function

In [ ]:
use master
select genre, platform, publisher, sum(NA_Sales) as Total_NA_Sales
from dbo.vgsales
group by cube(genre, platform, publisher)

In [ ]:
use checkpoint_database
select year, quarter, namemonth, count(iddate) as total_orders
from Date
group by cube(year, quarter, namemonth)

5) Grouping Sets Function

In [ ]:
use master
select genre, publisher, platform, sum(NA_Sales) as Total_NA_Sales
from dbo.vgsales
group by grouping sets(
    (genre, platform), 
    (publisher, platform), 
    (platform),
    (genre),
    ()
)

In [ ]:
use checkpoint_database
select year, quarter, namemonth, count(iddate) as total_orders
from Date
group by grouping sets(
    (year, quarter),
    (year, namemonth),
    ()
    )